<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001090754895-697o5u262s7tqvnbfi8ggjdmots5im1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001090754895-697o5u262s7tqvnbfi8ggjdmots5im1n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1001090754895-96mev2vl5e25hrp1sa59pohtismghm2b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBER5oZdOsbPnRP0_3DtCBg2iGyN5isXg4</string>
	<key>GCM_SENDER_ID</key>
	<string>1001090754895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mahmoud-khalil.socialApp</string>
	<key>PROJECT_ID</key>
	<string>council-app-4cb5f</string>
	<key>STORAGE_BUCKET</key>
	<string>council-app-4cb5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001090754895:ios:e348f37c2424c238c3bd3a</string>
</dict>
</plist>